.top-header {
    /* height: 117px;*/
    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
    -moz-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
    box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
    padding-top: 31px;
    padding-bottom: 40px;
    padding-left: 47px;
    padding-right: 47px;
    position: relative;
    float: left;
    width: 100%;
    @media (max-width: 768px) {
        position: fixed;
        width: 100vw;
        background-color: white;
        z-index: 1;
        height: 70px;
        margin-top: 70px;
    }
    .heading {
        width: auto;
        float: left;
        h2 {
            position: absolute;
            font-size: 35px;
        }
        .blog-logo {
            background-image: url("../images/blog-icon.svg");
            height: 43px;
            width: 43px;
            margin-top: 5px;
            float: left;
            @media (max-width: 768px) {
                margin-top: -18px;
            }
            @media (max-width: 374px) {
                display: none;
            }

        }
        .blog-heading {
            text-transform: uppercase;
            float: left;
            margin-left: 15px;
            h2 {
                @media (max-width: 768px) {
                    top: 5px;
                }
                @media(max-width: 767px) {
                    margin-top: 0;
                    top: 18px;
                }
                @media (max-width: 500px) {
                    font-size: 20px;
                }
            }
        }
    }
}


/*
.heading {
    width: auto;
    float: left;
    .blog-logo {
        background-image: url("../images/blog-icon.svg");
        height: 43px;
        width: 43px;
        margin-top: 5px;
        @media (max-width: 768px) {
        }
    }
    .blog-heading {
        float: right;
    }
}*/


/*Search Bar*/

form.search-form {
    margin-top: 15px !important;
    float: right;
    padding-top: 4px;
    @media (max-width: 768px) {
        padding: 0;
        margin-top: -8px !important;
        margin-right: -12px;
    }
    &.open {
        input.search-field {
            width: 76vw;
            float: left;
        }
        input.search-submit {
            float: left;
        }
    }
    input.search-field {
        border-top-left-radius: 25px !important;
        border-bottom-left-radius: 25px !important;
        border-top-right-radius: 0% !important;
        border-bottom-right-radius: 0 !important;
        border: 1px solid #2d78bd !important;
        border-right: none !important;
        font: 10px 'OpenSans-semibold';
        padding: 3px 16px !important;
        color: #2d78bd;
        width: 115px;
        text-transform: uppercase;
        -webkit-transition: width 1s ease-in-out;
        -moz-transition: width 1s ease-in-out;
        -o-transition: width 1s ease-in-out;
        transition: width 1s ease-in-out;
        &:focus {
            color: #2d78bd;
        }
        &::placeholder {
            color: #2d78bd;
        }
        @media (max-width: 625px) {
            display: none;
        }
    }
    input.search-submit {
        border-top-right-radius: 25px !important;
        border-bottom-right-radius: 25px !important;
        border-top-left-radius: 0% !important;
        border-bottom-left-radius: 0 !important;
        border: 1px solid #2d78bd !important;
        border-left: none !important;
        background-color: white !important;
        background: white url('/wp-content/themes/culturizer/dist/images/search-icon.svg') no-repeat center;
        background-size: 18px;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        padding-right: 23px !important;
        height: 22px;
        @media (max-width: 625px) {
            float: left;
            border: 0 !important;
        }
    }
}