div#cookie-notice {
  left: 120px;
  background: transparent url("../images/bg.png") repeat center;
  min-width: 0;
  width: calc(100% - 120px);
  font-family: 'OpenSans-regular';
  font-size: 14px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.045em;
  #cn-notice-text a {
    color: #fff;
    text-decoration: underline;
  }
  #cn-accept-cookie {
    background: #fff;
    color: $font-color-teritary;
    border: none;
    border-radius: 12px;
    text-transform: uppercase;
    text-shadow: none;
  }
}
