.event-slider-wrapper {
    margin: 35px 0 75px;
    @media (max-width: 768px) {
        margin-bottom: 75px;
    }
    .detail-slider-headline {
        text-align: center;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    .filter-wrapper {
        text-align: center;
        .filter-virtual {
            margin-right: 10px;
            color: $font-color-secondary;
            font-family: 'OpenSans-semibold';
            font-size: 12px;
            line-height: 25px;
            letter-spacing: .045em;
            text-transform: uppercase;
            display: inline-block;
            background-image: url(../images/bg.png);
            border-radius: 25px;
            padding: 5px 30px;
            text-decoration: none;
            margin-bottom: 10px;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
        }
        .filter-real {
            margin-left: 10px;
            color: $font-color-quinary;
            font-family: 'OpenSans-semibold';
            font-size: 12px;
            line-height: 25px;
            letter-spacing: .045em;
            text-transform: uppercase;
            display: inline-block;
            background: #e6e6e6;
            border-radius: 25px;
            padding: 5px 30px;
            text-decoration: none;
            margin-bottom: 10px;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
        }
        .button-active {
            background-image: url(../images/bg.png);
            color: $font-color-secondary;
        }
        .button-inactive {
            color: $font-color-quinary;
            background: #e6e6e6;
        }
    }
    .two-sliders-events {
        max-width: calc(1200px - 10%);
        margin-left: auto;
        margin-right: auto;
        .slick-arrow {
            position: absolute;
            z-index: 100;
            top: 50%;
            border: 0;
            background-color: inherit;
            background-size: 90px 50px;
            margin-top: -45px;
            margin-bottom: 0;
            width: 50px;
            height: 90px;
            background-repeat: no-repeat;
            background-position: 50%;
            display: inline-block;
            line-height: 0;
            font-size: 0;
            color: transparent;
            cursor: pointer;
            transition: opacity 0.25s;
            @media (max-width: 768px) {
                top: 100%;
                margin: 0;
                width: 30px;
                height: 54px;
                background-size: 54px 30px;
            }
            &.slick-disabled {
                display: none;
                pointer-events: none;
            }
        }
        .slick-next {
            right: 0;
            background-image: url("../images/r-slider.svg");
            @media (max-width: 768px) {
                left: 52.5%;
                right: auto;
            }
        }
        .slick-prev {
            left: 0;
            background-image: url("../images/r-slider.svg");
            transform: rotate(180deg);
            @media (max-width: 768px) {
                left: auto;
                right: 52.5%;
            }
        }
        .slide {
            height: 100%;
            padding-top: 15px;
            text-align: center;
            .two-sliders-img {
                background-repeat: no-repeat;
                background-size: contain;
                background-position: top;
                height: 450px;
                width: 100%;
                margin-bottom: 50px;
                @media (max-width: 768px) {
                    height: 30vh;
                    margin-bottom: 5px;
                }
            }
            .date-location {
                width: auto;
                margin-top: 8px;
                display: inline-block;
                position: relative;
                text-decoration: none;
                font-family: 'OpenSans-semibold';
                font-size: 14px;
                line-height: 29px;
                letter-spacing: 0.045em;
                color: $font-color-teritary;
                @media (max-width: 768px) {
                    font-size: 12px;
                    line-height: 16px;
                }
            }
            h3 {
                margin-top: 0;
                text-align: center;
            }
            p {
                text-align: center;
                max-width: 560px;
                margin: 0 auto;
            }
            a {
                width: auto;
                margin-top: 8px;
                display: inline-block;
                position: relative;
                text-decoration: none;
                font-family: 'OpenSans-semibold';
                font-size: 14px;
                line-height: 29px;
                letter-spacing: 0.045em;
                color: $font-color-teritary;
                @media (max-width: 768px) {
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
    }
}