footer {
    background-image: url("../images/footer-bg.png");
    padding-left: 120px;
    text-align: center;
    @media (max-width: 1100px) {
        padding-left: 0;
    }
    .footer-outer {
        max-width: 1000px;
        width: 100%;
        display: inline-block;
        @media (min-width: 769px) and (max-width: 1100px) {
            text-align: center;
        }
        .footer-wrapper:first-child {
            height: 550px;
            display: inline-block;
            padding-top: 60px;
            text-align: left;
            color: $font-color-secondary;
            float: left;
            @media (min-width: 769px) and (max-width: 1100px) {
                padding-left: 160px!important;
                display: inline-block!important;
                float: none!important;
                height: 500px!important;
                width: auto;
            }
            @media (min-width: 1px) and (max-width: 768px) {
                padding-left: 5%!important;
                display: block!important;
                float: none!important;
                height: 500px!important;
            }
        }
        .footer-wrapper:nth-child(2) {
            height: 550px;
            display: inline-block;
            padding-top: 60px;
            text-align: left;
            color: $font-color-secondary;
            float: left;
            margin-left: 25px;
            @media (min-width: 769px) and (max-width: 1100px) {
                padding-left: 160px!important;
                display: inline-block!important;
                float: none!important;
                height: 230px!important;
                padding-top: 0px!important;
                width: auto;
                .address {
                    margin-top: 30px;
                    padding-top: 0;
                }
            }
            @media (min-width: 1px) and (max-width: 768px) {
                display: block!important;
                float: none!important;
                height: 230px!important;
                padding-top: 0px!important;
                .address {
                    margin-top: 30px;
                    padding-top: 0;
                }
            }
        }
        .footer-wrapper {
            h3 {
                color: $font-color-secondary;
                margin-bottom: 50px;
                margin-left: 45px;
                font-size: 45px;
                line-height: 40px;
                letter-spacing: 0.02em;
            }
            .beratung {
                font-family: 'DemosRegular';
                font-size: 21px;
                line-height: 40px;
                letter-spacing: 0.02em;
                position: relative;
                margin-left: 35px;
            }
            .beratung:before {
                content: "";
                background-image: url("../images/headset.svg");
                position: absolute;
                top: 0;
                left: -38px;
                width: 25px;
                height: 25px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                -moz-transform: scaleX(-1);
                -o-transform: scaleX(-1);
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
                filter: FlipH;
                -ms-filter: "FlipH";
            }
            a.footer-mail {
                margin-left: 35px;
                text-decoration: none;
                font-family: 'OpenSans-semibold';
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0.06em;
                color: $font-color-secondary;
                text-transform: uppercase;
                border-bottom: 1px solid $font-color-secondary;
            }
            a.footer-phone {
                margin-left: 35px;
                text-decoration: none;
                color: $font-color-secondary;
                text-transform: uppercase;
                font-family: 'DemosRegular';
                font-size: 28px;
                line-height: 40px;
                letter-spacing: 0.02em;
            }
            .address {
                font-family: 'DemosRegular';
                font-size: 21px;
                line-height: 40px;
                letter-spacing: 0.02em;
                position: relative;
                margin-left: 35px;
                margin-top: 140px;
                margin-bottom: 30px;
                display: block;
                @media (max-width: 768px) {
                    display: inline-block;
                }
            }
            .address:before {
                content: "";
                background-image: url("../images/icon-house.svg");
                position: absolute;
                top: 7px;
                left: -38px;
                width: 30px;
                height: 28px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
            .address-text {
                display: block;
                margin-left: 35px;
                font-family: 'OpenSans-semibold';
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0.06em;
                color: $font-color-secondary;
            }
            a.address-text {
                display: inline-block;
                text-decoration: underline;
            }
            .comteamgroup-logo {
                position: relative;
                top: 60px;
                left: -8px;
                background-image: url("../images/comteam-logo-white.png");
                width: 168px;
                height: 58px;
                display: block;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                margin-left: 40px;
            }
        }
        .two-contact-forms {
            display: inline-block;
            margin-left: 25px;
            margin-bottom: 50px;
            float: left;
            margin-top: 160px;
            @media (min-width: 769px) and (max-width: 1100px) {
                margin-left: 160px;
                float: none!important;
                margin-top: 0;
                .contact-form-email,
                .contact-form-callback {
                    .wpcf7 {
                        .wpcf7-form {
                            .fields {
                                border-left: none!important;
                                padding-left: 0!important;
                            }
                        }
                    }
                }
            }
            @media (min-width: 1px) and (max-width: 768px) {
                margin: 0 auto 50px;
                ;
                display: block;
                float: none!important;
                .contact-form-email,
                .contact-form-callback {
                    .wpcf7 {
                        .wpcf7-form {
                            text-align: center;
                            .fields {
                                border-left: none!important;
                                padding-left: 0!important;
                                display: inline-block;
                                input,
                                textarea {
                                    width: 80vw!important;
                                }
                            }
                        }
                    }
                }
            }
            .forms-switcher-wrapper {
                text-align: center;
                padding-left: 30px;
                height: 100%;
                margin-top: 60px;
                margin-bottom: 30px;
                @media (max-width: 1100px) {
                    padding-left: 10px;
                }
                .email-switch {
                    cursor: pointer;
                    color: $font-color-secondary;
                    background-color: transparent;
                    border-radius: 20px;
                    padding: 10px 30px;
                    border: 1px solid $font-color-secondary;
                    font-family: 'OpenSans-semibold';
                    font-size: 14px;
                    line-height: 9px;
                    margin-right: 20px;
                }
                .callback-switch {
                    cursor: pointer;
                    color: $font-color-teritary;
                    background-color: $font-color-secondary;
                    border-radius: 20px;
                    padding: 10px 30px;
                    border: 1px solid $font-color-secondary;
                    font-family: 'OpenSans-semibold';
                    font-size: 14px;
                    line-height: 9px;
                }
                .switch-active {
                    color: $font-color-secondary!important;
                    background-color: transparent!important;
                }
                .switch-inactive {
                    color: $font-color-teritary!important;
                    background-color: $font-color-secondary!important;
                }
            }
            .show-form {
                display: block!important;
            }
            .remove-form {
                display: none!important;
            }
            .contact-form-email,
            .contact-form-callback {
                text-align: center;
                .wpcf7 {
                    .wpcf7-form {
                        .wpcf7-response-output {
                            color: $font-color-secondary;
                            border-radius: 20px;
                            padding: 10px 30px;
                            border: 1px solid $font-color-secondary;
                            font-family: 'OpenSans-semibold';
                            font-size: 14px;
                            line-height: 9px;
                        }
                        .fields {
                            // border-left: 1px solid #ffffff;
                            // padding-left: 25px;
                            .wpcf7-not-valid-tip {
                                color: $font-color-secondary;
                            }
                            input,
                            textarea {
                                border: 1px solid $font-color-secondary;
                                font-family: 'OpenSans-semibold';
                                font-size: 14px;
                                line-height: 9px;
                                letter-spacing: .06em;
                                color: $font-color-secondary;
                                display: block;
                                background-color: transparent;
                                text-transform: uppercase;
                                margin-top: 20px;
                                border-radius: 20px;
                                padding: 10px 30px;
                                width: 350px;
                            }
                            textarea {
                                line-height: 18px;
                                text-transform: none;
                            }
                            input::-webkit-input-placeholder {
                                color: $font-color-secondary;
                            }
                            input::-moz-placeholder {
                                color: $font-color-secondary;
                            }
                            input:-ms-input-placeholder {
                                color: $font-color-secondary;
                            }
                            input:-moz-placeholder {
                                color: $font-color-secondary;
                            }
                            textarea::-webkit-input-placeholder {
                                color: $font-color-secondary;
                            }
                            textarea::-moz-placeholder {
                                color: $font-color-secondary;
                            }
                            textarea:-ms-input-placeholder {
                                color: $font-color-secondary;
                            }
                            textarea:-moz-placeholder {
                                color: $font-color-secondary;
                            }
                        }
                        .wpcf7-submit {
                            margin: 15px auto;
                            color: $font-color-teritary;
                            background-color: $font-color-secondary;
                            font-family: 'OpenSans-semibold';
                            font-size: 14px;
                            line-height: 30px;
                            letter-spacing: .045em;
                            text-transform: uppercase;
                            display: block;
                            border-radius: 25px;
                            padding: 5px 60px;
                            text-decoration: none;
                            cursor: pointer;
                            @media (max-width: 1100px) {
                                padding: 3px 30px!important;
                                margin-left: 20px!important;
                            }
                        }
                    }
                }
            }
        }
        .nav-footer {
            display: inline-block;
            width: 100%;
            margin-bottom: 60px;
            padding-left: 0px;
            text-align: center;
            @media (min-width: 769px) and (max-width: 1100px) {
                padding-left: 160px!important;
            }
            ul {
                display: inline-block;
                li {
                    float: left;
                    margin: 10px;
                    a {
                        font-family: 'OpenSans-semibold';
                        font-size: 16px;
                        line-height: 28px;
                        letter-spacing: 0.06em;
                        color: $font-color-secondary;
                    }
                }
            }
        }
    }
}