.banner {
    // position: relative;
    .main-navigation-fixed {
        position: fixed;
        width: 120px;
        height: 100vh;
        text-align: center;
        overflow: hidden;
        z-index: 1100;
        background-color: $background-primary;
        @media (max-width: 768px) {
            position: fixed;
            width: 100vw;
            height: 70px;
            border: 1px solid $background-primary;
        }
        .brand {
            display: block;
            margin-top: 10px;
            text-decoration: none;
            .logo {
                position: relative;
                top: 0;
                left: 0;
                background-image: url("../images/culturizer-logo.jpg");
                width: 70px;
                height: 70px;
                display: inline-block;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
            .brand-logo-name {
                font-family: 'DemosRegular';
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.12em;
                // text-transform: uppercase;
                color: $font-color-teritary;
            }
            @media (max-width: 768px) {
                float: left;
                margin-left: 5%;
                .logo {
                    top: 5px;
                    left: -8px;
                    width: 50px;
                    height: 50px;
                    display: block;
                }
                .brand-logo-name {
                    font-size: 7px;
                    line-height: 20px;
                    letter-spacing: 0.12em;
                    text-transform: uppercase;
                    color: $font-color-teritary;
                    float: left;
                }
            }
        }
        .language-switcher {
            padding-left: 0;
            margin-bottom: 0;
            @media (max-width: 768px) {
                float: left;
                margin: 6px 10px;
            }
            li {
                display: inline-block;
                margin: 20px 5px;
                font-family: 'OpenSans-semibold';
                font-size: 10px;
                line-height: 20px;
                letter-spacing: 0.12em;
                color: $font-color-quaterinary;
                text-transform: uppercase;
                a {
                    color: $font-color-teritary;
                    text-decoration: none;
                }
            }
        }
        .hamburger-wrapper {
            position: absolute;
            top: calc(40% - 30px);
            left: 44px;
            .hamburger {
                width: 20px;
                height: 20px;
                position: relative;
                left: 7px;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .5s ease-in-out;
                -moz-transition: .5s ease-in-out;
                -o-transition: .5s ease-in-out;
                transition: .5s ease-in-out;
                cursor: pointer;
            }
            .hamburger span {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background: $font-color-teritary;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .5s ease-in-out;
                -moz-transition: .5s ease-in-out;
                -o-transition: .5s ease-in-out;
                transition: .5s ease-in-out;
            }
            .hamburger span:nth-child(1) {
                top: 0px;
            }
            .hamburger span:nth-child(2),
            .hamburger span:nth-child(3) {
                top: 6px;
            }
            .hamburger span:nth-child(4) {
                top: 12px;
            }
            .hamburger.open span:nth-child(1) {
                top: 6px;
                width: 0%;
                left: 50%;
            }
            .hamburger.open span:nth-child(2) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            .hamburger.open span:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
            .hamburger.open span:nth-child(4) {
                top: 6px;
                width: 0%;
                left: 50%;
            }
            .hamburger-menu {
                font-family: 'OpenSans-semibold';
                font-size: 10px;
                text-transform: uppercase;
                letter-spacing: 0.13em;
                color: $font-color-teritary;
                cursor: pointer;
                position: relative;
                display: block;
            }
            @media (max-width: 768px) {
                display: inline-block;
                top: 18px;
                left: calc(50% - 18px);
                .hamburger {
                    width: 27px;
                    height: 25px;
                    left: 3px;
                }
                .hamburger span {
                    display: block;
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    background: $font-color-teritary;
                    border-radius: 9px;
                    opacity: 1;
                    left: 0;
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: .5s ease-in-out;
                    -moz-transition: .5s ease-in-out;
                    -o-transition: .5s ease-in-out;
                    transition: .5s ease-in-out;
                }
                .hamburger span:nth-child(2),
                .hamburger span:nth-child(3) {
                    top: 8px;
                }
                .hamburger span:nth-child(4) {
                    top: 16px;
                }
                .hamburger-menu {
                    font-size: 10px;
                    top: 1px;
                }
            }
        }
        .menu-points-wrapper {
            position: absolute;
            width: 120px;
            height: 120px;
            padding-top: 20px;
            cursor: pointer;
            .menu-points-inner {
                position: relative;
                top: 15px;
                width: 30px;
                height: 30px;
                display: inline-block;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            span {
                display: block;
                font-family: 'OpenSans-semibold';
                font-size: 10px;
                text-transform: uppercase;
                letter-spacing: 0.13em;
                color: $font-color-teritary;
                margin-top: 15px;
            }
        }
        .menu-log-in {
            bottom: 120px;
            .logo-log-in {
                background-image: url("../images/arrow-circle.svg");
            }
            span {
                color: $font-color-teritary;
            }
            @media (max-width: 768px) {
                right: 80px;
                bottom: 0;
                width: 70px;
                height: 70px;
                padding-top: 0;
                span {
                    margin-top: 10px;
                }
            }
        }
        .menu-kontakt {
            background-image: url("../images/bg.png");
            bottom: 0;
            .logo-kontakt {
                background-image: url("../images/information.svg");
            }
            span {
                color: $font-color-secondary;
            }
            @media (max-width: 768px) {
                right: 0;
                width: 70px;
                height: 70px;
                padding-top: 0;
                span {
                    color: $font-color-secondary;
                    margin-top: 10px;
                }
            }
        }
    }
    .culturizer-main-menu {
        width: 365px;
        height: 100%;
        position: fixed;
        transform: translate3d(-215px, 0, 0);
        opacity: 0;
        transition: 0.5s all ease-out;
        top: 0;
        z-index: 1000;
        background-color: $background-primary;
        -webkit-box-shadow: inset 10px 0px 10px -5px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 10px 0px 10px -5px rgba(0, 0, 0, 0.1);
        box-shadow: inset 10px 0px 10px -5px rgba(0, 0, 0, 0.1);
        @media (max-width: 768px) {
            margin-top: 70px;
            width: 100vw;
            height: calc(100vh - 70px);
            overflow-y: scroll;
            opacity: 0;
            background-color: inherit;
            transform: translate3d(0, -100vh, 0);
            -webkit-box-shadow: inset 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: inset 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
        }
        .eks {
            position: absolute;
            right: 15px;
            top: 15px;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 15px;
            height: 15px;
            background-image: url("../images/eks.jpg");
            @media (max-width: 768px) {
                display: none;
            }
        }
        nav {
            @media (max-width: 768px) {
                background-color: $background-primary;
            }
            ul {
                margin-top: 65px;
                margin-left: 25px;
                margin-right: 65px;
                text-align: left;
                @media (max-width: 768px) {
                    margin-top: 0;
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
                li:first-child {
                    padding-top: 0;
                }
                li {
                    padding-top: 45px;
                    @media (max-width: 768px) {
                        padding-top: 30px;
                    }
                    a {
                        color: $font-color-teritary;
                        font-family: 'DemosRegular';
                        font-size: 17px;
                        line-height: 24px;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                        text-decoration: none;
                        .main-menu-text {
                            font-family: 'OpenSans-regular';
                            font-size: 10px;
                            line-height: 22px;
                            letter-spacing: 0.08em;
                            pointer-events: none;
                            color: $font-color-quaterinary;
                            padding-top: 10px;
                            display: block;
                            padding-left: 40px;
                            .main-menu-page-jump {
                                color: $font-color-teritary;
                                position: relative;
                            }
                            .main-menu-page-jump:after {
                                content: "";
                                background-image: url("../images/read-more-arrow.svg");
                                position: absolute;
                                top: 1px;
                                right: -11px;
                                width: 6px;
                                height: 12px;
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: center;
                            }
                        }
                    }
                }
            }
        }
        .culturizer-contact-menu-mobile {
            width: 100%;
            height: auto;
            z-index: 1010;
            opacity: 1;
            background-image: url("../images/bg.png");
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            @media (min-width: 769px) {
                display: none!important;
            }
            .language-switcher-mobile {
                display: none!important;
                padding-left: 0;
                margin-bottom: 0;
                li {
                    display: inline-block;
                    margin: 5px;
                    font-family: 'OpenSans-semibold';
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.12em;
                    color: #b7b7b7;
                    text-transform: uppercase;
                    a {
                        color: $font-color-secondary;
                        text-decoration: none;
                    }
                }
                @media (min-width: 769px) {
                    display: none!important;
                }
            }
            .tel {
                width: 100%;
                margin-top: 15px;
                display: inline-block;
                text-decoration: none;
                color: $font-color-secondary;
                font-family: 'DemosRegular';
                font-size: 20px;
                line-height: 21px;
                letter-spacing: 0.09em;
            }
            .mail {
                text-decoration: none;
                color: $font-color-secondary;
                font-family: 'OpenSans-semibold';
                font-size: 15px;
                line-height: 21px;
                letter-spacing: 0.12em;
                text-transform: uppercase;
            }
        }
    }
    .culturizer-contact-menu {
        position: fixed;
        bottom: 0;
        width: 365px;
        height: 120px;
        z-index: 1010;
        transition: 0.5s all ease-out;
        transform: translate3d(-215px, 0, 0);
        opacity: 0;
        background-image: url("../images/bg.png");
        -webkit-box-shadow: inset 10px 0px 10px -5px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 10px 0px 10px -5px rgba(0, 0, 0, 0.1);
        box-shadow: inset 10px 0px 10px -5px rgba(0, 0, 0, 0.1);
        @media (max-width: 768px) {
            display: none!important;
        }
        .tel {
            margin-top: 15px;
            margin-left: 50px;
            display: block;
            text-decoration: none;
            color: $font-color-secondary;
            font-family: 'DemosRegular';
            font-size: 20px;
            line-height: 51px;
            letter-spacing: 0.09em;
        }
        .mail {
            margin-left: 50px;
            text-decoration: none;
            color: $font-color-secondary;
            font-family: 'OpenSans-semibold';
            font-size: 11px;
            line-height: 33px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
        }
    }
    .menu-show {
        transform: translate3d(115px, 0, 0);
        opacity: 1;
        @media (max-width: 768px) {
            transform: translate3d(0, 0, 0);
        }
    }
}