.main-carousel {
  width: 100%;
  height: 100vh;
  position: relative;
  .slick-arrow {
    position: absolute;
    z-index: 100;
    top: calc(50% - 45px);
    border: 0;
    background-color: inherit;
    background-size: 90px 50px;
    margin-bottom: 0;
    width: 50px;
    height: 90px;
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    line-height: 0;
    font-size: 0;
    color: transparent;
    cursor: pointer;
    @media (max-width: 768px) {
      display: none!important;
    }
  }
  .slick-next {
    right: 5%;
    background-image: url("../images/r-slider.svg");
  }
  .slick-prev {
    left: 5%;
    background-image: url("../images/r-slider.svg");
    transform: rotate(180deg);
  }
  .slick-dots {
    position: absolute;
    z-index: 100;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 23%;
    padding-left: 0;
    list-style: none;
    @media (max-width: 768px) {
      bottom: 5%;
    }
    li {
      display: inline-block;
      margin: 10px;
      button {
        border: 0;
        background-color: inherit;
        background-image: url("../images/jump-circle.svg");
        background-size: 12px 12px;
        margin-bottom: 0;
        width: 12px;
        height: 12px;
        background-repeat: no-repeat;
        background-position: 50%;
        display: inline-block;
        line-height: 0;
        font-size: 0;
        color: transparent;
        cursor: pointer;
      }
    }
    .slick-active {
      button {
        background-image: url("../images/jump-dot.svg")!important;
      }
    }
  }
  .slick-list {
    .slick-track {
      .slick-slide {
        .main-slide {
          width: 100vw;
          height: 100vh;
          position: relative;
          .slide-img {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .slider-content-holder {
            position: absolute;
            width: 310px;
            bottom: 30%;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            @media (max-width: 768px) {
              bottom: 15%;
            }
            h2 {
              color: $font-color-teritary;
              font-size: 70px;
              line-height: 39px;
              letter-spacing: 0.06em;
              margin-bottom: 30px;
            }
            h4 {
              color: $font-color-quaterinary;
              margin-bottom: 30px;
              font-family: 'OpenSans-semibold';
              font-size: 16px;
              line-height: 28px;
              letter-spacing: 0.06em;
              text-transform: uppercase;
            }
            .contact {
              color: $font-color-secondary;
              font-family: 'OpenSans-semibold';
              font-size: 14px;
              line-height: 36px;
              letter-spacing: 0.02em;
              text-transform: uppercase;
              display: inline-block;
              background-image: url("../images/bg.png");
              border-radius: 25px;
              padding: 5px 50px;
              text-decoration: none;
              margin-bottom: 10px;
            }
            .more-info {
              display: inline-block;
              position: relative;
              color: $font-color-teritary;
              font-family: 'OpenSans-semibold';
              font-size: 14px;
              line-height: 22px;
              letter-spacing: 0.08em;
              text-transform: uppercase;
              text-decoration: none;
              left: -7px;
            }
            .more-info:after {
              content:"";
              background-image: url("../images/read-more-arrow.svg");
              position: absolute;
              top: 4px;
              right: -15px;
              width: 7px;
              height: 14px;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
            }
          }
        }
      }
    }
  }
}
.scroll {
  background-image: url("../images/scroll-more.png");
  position: absolute;
  top: 85vh;
  left: calc(50% - 13px);
  width: 26px;
  height: 56px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 150;
  @media (max-width: 768px) {
    display: none!important;
  }
}
