.methode-slider-wrapper {
  .methode-slider-headline {
    text-align: center;
    margin-bottom: 50px;
    @media (max-width: 768px) {
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
  .methode-slider {
    height: 675px;
    .slick-active {
      .methode-image {
        transform: scale(1.05)!important;
      }
    }
    @media (max-width: 768px) {
      height: 100%;
    }
    .slick-arrow {
      position: absolute;
      z-index: 100;
      top: calc(50% - 45px);
      border: 0;
      background-color: inherit;
      background-size: 90px 50px;
      margin-bottom: 0;
      width: 50px;
      height: 90px;
      background-repeat: no-repeat;
      background-position: 50%;
      display: inline-block;
      line-height: 0;
      font-size: 0;
      color: transparent;
      cursor: pointer;
      @media (max-width: 768px) {
        bottom: calc(15vh - 45px);
        top: inherit;
      }
    }
    .slick-next {
      right: 5%;
      background-image: url("../images/r-slider.svg");
    }
    .slick-prev {
      left: 5%;
      background-image: url("../images/r-slider.svg");
      transform: rotate(180deg);
    }
    .methode-slide {
      position: relative;
      .text-holder {
        position: absolute;
        z-index: 5;
        top: 15%;
        right: 15%;
        max-width: 330px;
        background-color: $background-tertiary;
        padding: 20px 25px 40px 25px;
        @media (max-width: 768px) {
          height: auto;
          position: relative;
          left: 0;
          right: 0;
          margin-left: 15px;
          margin-right: 15px;
          margin-bottom: 15px;
          max-width: 100vw;
          padding: 5px;
          text-align: left;
          p {
            text-align: left!important;
            line-height: 24px;
          }
        }
        h3 {
          margin-bottom: 20px;
        }
      }
      .methode-image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 675px;
        -webkit-transition: 10s ease;
        -moz-transition: 10s ease;
        -o-transition: 10s ease;
        transition: 10s ease;
        @media (max-width: 768px) {
          height: 30vh;
        }
        width: 100%;
      }
    }
  }
}
