.header-image-post {
    height: 890px;
    width: calc( 100vw - 120px);
    background: center no-repeat;
    border-bottom: 1px solid #e9e9ea;
    border-left: 1px solid #e9e9ea;
    background-size: cover;
    @media(max-width: 768px) {
        height: 25%;
        margin-top: 70px;
        width: 100%;
    }
    a.scroll {
        position: absolute;
        top: 47%;
    }
}

article {
    margin: 12vh 10vw;
    h1 {
        font-family: 'DemosRegular';
        color: #0278be;
        font-size: 45px;
        line-height: 1.7;
    }
    p {
        font-family: 'OpenSans-regular';
        font-size: 14px;
        strong {
            font-family: 'OpenSans-semibold';
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
    time {
        display: none;
    }
    p.byline.author.vcard {
        display: none;
    }
}