.filter-wrapper {
    a.scroll {
        position: absolute;
        top: 92vh;
    }
}

svg {
    fill: #0278be;
}

span {
    font-family: 'DemosItalic', Arial;
    font-size: 14px;
}


/*Featured Posts on the top of the blog*/

.featured {
    @media (max-width: 768px) {
        margin-top: 140px;
    }
    .featured-post {
        width: 27.604vw;
        text-align: left;
        float: right;
        position: relative;
        @media (max-width: 767px) {
            width: 100%;
            height: calc( 100vh - 140px);
        }
        .post-teaser {
            margin: 4.07vh 2.6vw;
            position: relative;
            p {
                width: auto;
                font-family: 'OpenSans-regular';
                padding-bottom: 10px;
                @media (max-width: 374px) {
                    line-height: 1.5;
                }
            }
            @media(max-width:767px) {
                width: 100%;
            }
        }
        .post-teaser {
            &.top {
                @media(max-width: 767px) {
                    width: 95vw;
                    //padding-top: 45%;
                    padding: 55% 20px 0;
                    height: 91%;
                }
                @media (max-width: 585px) {
                    padding-top: 20%;
                }
                h2 {
                    text-align: left !important;
                    line-height: 50px !important;
                }
                p {
                    padding: 0;
                    text-align: left !important;
                }
            }
        }
        a {
            display: inline-block;
            position: relative;
            color: #0278be;
            font-family: 'OpenSans-semibold';
            font-size: 14px;
            line-height: 22px;
            letter-spacing: .08em;
            text-transform: uppercase;
            text-decoration: none;
            @media (max-width: 767px) {
                position: absolute;
                bottom: 10px;
            }
            cursor: pointer;
             ::after {
                //code for the arrow after details bitte
                content: "";
                background-image: url("../images/read-more-arrow.svg");
                position: absolute;
                top: 4px;
                right: -15px;
                width: 7px;
                height: 14px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50%;
            }
        }
    }
    .featured-image {
        float: left;
        background-image: url("/wp-content/themes/culturizer/dist/images/featured-image.jpg");
        height: calc( 100vh - 140px) !important;
        width: calc(100% - 27.604vw);
        background-repeat: no-repeat;
        background-size: cover;
        object-position: bottom;
        opacity: 0.3;
        font-family: 'object-fit: cover; object-position: bottom;';
        @media (max-width: 767px) {
            position: absolute;
            height: calc( 95vh - 88px);
            width: 100%;
        }
    }
}


/*Blog category Switch Filter*/

.filter-wrapper {
    .category-switch {
        position: relative;
        clear: both;
        text-align: center;
        padding: 58px 0;
        border-top: #ececec 1px solid;
        .cat {
            position: relative;
            display: inline-block;
            font-size: 14px;
            line-height: 36px;
            letter-spacing: .02em;
            font-family: 'OpenSans-semibold';
            text-transform: uppercase;
            background-image: url("/wp-content/themes/culturizer/dist/images/bg.png");
            border-radius: 25px;
            padding: 5px 50px;
            margin: 0 50px;
            color: white;
            cursor: pointer;
            @media (max-width: 1299px) {
                margin: 5px 0;
            }
            @media (max-width: 595px) {
                margin: 0 10px;
                padding: 0 20px;
                font-size: 9px;
            }
        }
        .active,
        .cat:active {
            color: #0278be !important;
            background-color: #fff !important;
            background-image: none !important;
            border-radius: 25px !important;
            border: 1px solid #0278be;
        }
    }
}


/*Blogs*/

main>.blog {
    .blog-content {
        margin: 0 auto;
        height: auto;
        width: 100%;
        max-width: 1195px;
        font-family: 'OpenSans';
        a {
            font-family: 'OpenSans-semibold';
            text-transform: uppercase;
            color: #478ab8;
            cursor: pointer;
            position: absolute;
            bottom: 20px;
        }
        h2 {
            height: 100px;
            overflow: hidden;
            line-height: 1.1;
            float: left;
            @media (max-width: 767px) {
                height: 65px;
                margin-top: 15px;
            }
        }
        .text-wrapper {
            font-family: 'DemosItalic', 'Times New Roman';
        }
        p {
            width: 100%;
        }
        .post-teaser {
            margin: 7px;
            @media (max-width: 768px) {
                margin: 15px 20px;
            }
            &.long {
                position: relative;
                width: calc(33.333% - 14px);
                height: 0;
                padding-bottom: calc(66.666% - 14px);
                background-color: #ececec;
                float: left;
                overflow: hidden;
                color: #474748;
                @media (max-width: 1200px) {
                    width: calc( 50% - 14px);
                    padding-bottom: 100%;
                }
                @media (max-width: 768px) {
                    width: auto !important;
                    right: 0;
                }
                @media (max-width:585px) {}
                .text-wrapper {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    padding: 35px 50px 50px;
                    @media (max-width: 550px) {
                        top: 40%;
                    }
                }
                h2 {
                    height: auto;
                    @media (max-width: 1200px) {
                        font-size: 36px;
                    }
                    @media(max-width: 768px) {
                        height: auto;
                    }
                    @media (max-width: 374px) {
                        margin-top: 10px;
                    }
                }
                p {
                    flex-wrap: normal; //SHould the text be wrapped here?
                    -ms-flex-wrap: normal;
                    overflow: hidden;
                    height: auto !important;
                    margin-bottom: 16px;
                    @media (max-width: 1200px) {
                        height: 70%;
                        text-overflow: ellipsis;
                        line-height: 1.7;
                        overflow: hidden;
                    }
                    @media (max-width: 1030px) {
                        height: 60%;
                    }
                    @media (max-width: 929px) {
                        line-height: 1.65;
                        height: auto;
                    }
                    @media (max-width:768px) {
                        padding-bottom: 20px;
                    }
                    @media (max-width: 600px) {
                        line-height: 1.6 !important;
                    }
                    @media (max-width: 374px) {
                        margin-top: 20px;
                    }
                }
                .blog-image {
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 0;
                    padding-bottom: 100%;
                    background-size: cover;
                    position: absolute;
                    font-family: 'object-fit: cover; object-position: bottom;';
                    object-position: bottom;
                    @media (max-width: 768px) {
                        padding-bottom: 50%;
                    }
                }
                a {
                    padding: 10px 0;
                    display: block;
                    @media (max-width: 1200px) {
                        position: absolute;
                    }
                    @media (max-width:768px) {
                        padding: 20px 0;
                        bottom: 5px;
                    }
                }
            }
            &.basic {
                position: relative;
                width: calc(33.333% - 14px);
                height: 0;
                padding-bottom: calc(33.333% - 14px);
                /*height > 0 and padding-bottom is the same as width so our bbn        k*/
                background-color: #2b72b5;
                float: left;
                color: #ececec;
                flex-wrap: normal; //SHould the text be wrapped here?
                -ms-flex-wrap: normal;
                overflow: hidden;
                @media (max-width: 1200px) {
                    width: calc(50% - 14px);
                    padding-bottom: calc(50% - 14px);
                }
                @media (max-width: 768px) {
                    width: auto;
                    height: auto;
                    padding-bottom: 0;
                }
                .text-wrapper {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    padding: 35px 50px 80px;
                    @media (max-width: 768px) {
                        width: auto;
                        height: auto;
                        position: relative;
                    }
                }
                h2 {
                    color: white;
                    text-align: left !important;
                    height: auto;
                    @media (max-width: 1200px) {
                        font-size: 36px;
                    }
                    @media (max-width: 768px) {
                        width: auto;
                        overflow: unset;
                    }
                }
                p {
                    height: auto;
                    overflow: hidden;
                    text-overflow: clip;
                    color: #ececec;
                    margin-bottom: 16px;
                    @media (max-width: 768px) {
                        padding: 15px 0 !important;
                        padding-bottom: 20px;
                    }
                    @media (max-width: 600px) {
                        line-height: 1.6 !important;
                    }
                }
                a {
                    cursor: pointer;
                    color: #0278be;
                    background-color: #fff;
                    border-radius: 20px;
                    padding: 15px 30px;
                    border: 1px solid #fff;
                    font-family: 'OpenSans-semibold';
                    font-size: 14px;
                    line-height: 9px;
                    margin: 10px 0;
                    background-image: url("/wp-content/themes/culturizer/dist/images/crisscross-button.png");
                    @media (max-width: 1200px) {
                        position: absolute;
                        bottom: 30px;
                        padding: 15px 30px;
                        height: auto; //because the text has its own height to and to balance the appearance of the button we need to set height as auto
                    }
                }
            }
            &.image {
                position: relative;
                width: calc(33.333% - 14px);
                height: 0;
                float: left;
                color: #474748;
                flex-wrap: normal; //SHould the text be wrapped here?
                -ms-flex-wrap: normal;
                padding-bottom: calc(33.333% - 14px);
                overflow: hidden;
                object-fit: contain;
                font-family: 'object-fit: contain';
                @media (max-width: 1200px) {
                    width: calc(50% - 14px);
                    padding-bottom: calc(50% - 14px);
                }
                @media (max-width: 768px) {
                    width: auto;
                    position: relative !important;
                    height: auto;
                    padding-bottom: 0;
                }
                @media (max-width:585px) {
                    width: auto;
                    height: auto;
                }
                .blog-image {
                    background-position: center center;
                    background-repeat: no-repeat;
                    font-family: 'background-position: center center;background-repeat: no-repeat;background-size: cover;';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: -1;
                    opacity: 0.3;
                    background-size: cover;
                }
                .text-wrapper {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    padding: 35px 50px 70px;
                    @media (max-width: 768px) {
                        width: auto;
                        height: auto;
                        position: relative;
                    }
                }
                h2 {
                    color: #2b72b5;
                    overflow: hidden;
                    height: 100px;
                    @media (max-width: 1200px) {
                        font-size: 36px;
                    }
                    @media (max-width: 768px) {
                        width: auto;
                        overflow: unset;
                        margin-top: 10px;
                        height: auto;
                    }
                }
                p {
                    height: auto;
                    overflow: hidden;
                    text-overflow: clip;
                    color: #474748;
                    margin-bottom: 16px;
                    @media (max-width: 1200px) {
                        height: auto;
                        line-height: 1.7;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    @media (max-width: 768px) {
                        padding-top: 16px !important;
                    }
                    @media (max-width: 600px) {
                        line-height: 1.6 !important;
                        margin-top: 10px;
                    }
                    /*  @media (max-width: 929px) {
                        height: 40%;
                        line-height: 1.65;
                    } */
                }
                a {
                    font-family: 'OpenSans-semibold';
                    text-transform: uppercase;
                    color: #478ab8;
                    bottom: 30px;
                    @media (max-width: 768px) {
                        position: absolute;
                        bottom: 5px;
                        padding: 0 0 20px;
                    }
                }
            }
            &.large {
                width: calc(66.666% - 14px);
                height: 0;
                float: left;
                color: #474748;
                flex-wrap: normal; //SHould the text be wrapped here?
                -ms-flex-wrap: normal;
                /*  */
                padding-bottom: calc(66.666% - 14px);
                object-fit: contain;
                font-family: 'object-fit: contain';
                position: absolute;
                @media (max-width: 1200px) {
                    width: calc(100% - 14px);
                    padding: 0;
                    padding-bottom: calc(50% - 14px);
                }
                @media (max-width:768px) {
                    padding-bottom: 0;
                }
                @media (max-width:585px) {
                    height: calc( 100vw - 40px);
                }
                .blog-image {
                    background-image: url("/wp-content/themes/culturizer/dist/images/featured-image.jpg");
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: -1;
                    opacity: 0.3;
                    background-size: cover;
                }
                .text-wrapper {
                    position: absolute;
                    clear: both;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    padding: 265px 50px 100px;
                    @media(max-width: 1200px) {
                        padding: 35px 50px 80px;
                    }
                    @media(max-width: 768px) {
                        padding: 35px 50px 50px;
                        height: auto;
                        width: auto;
                        position: absolute;
                    }
                }
                h2 {
                    color: #2b72b5;
                    padding-top: 12px;
                    height: auto;
                    clear: both;
                    @media (max-width: 1200px) {
                        height: 70px;
                        font-size: 36px;
                    }
                    @media(max-width:768px) {
                        height: auto;
                        clear: both;
                    }
                    @media (max-width: 585px) {
                        margin-top: 0;
                        padding-top: 0;
                    }
                    /*CHECK THE HEIGHT OS THE H2 , 2 LINES ALLOWED*/
                }
                p {
                    height: auto;
                    /*type here*/
                    width: 451px;
                    overflow: hidden;
                    color: #474748;
                    margin-bottom: 8px;
                    clear: both;
                    @media (max-width: 1200px) {
                        height: auto;
                        line-height: 1.7;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    @media(max-width:768px) {
                        position: relative;
                        height: auto;
                        width: auto;
                        clear: both;
                        padding-bottom: 20px;
                    }
                    @media (max-width: 600px) {
                        line-height: 1.6 !important;
                        width: 100%;
                    }
                }
                a {
                    text-transform: uppercase;
                    color: #478ab8;
                    bottom: 30px;
                    @media (max-width: 768px) {
                        bottom: 20px;
                        padding: 0 0 20px;
                        width: auto;
                        clear: both;
                        display: block;
                    }
                }
            }
            &.video {
                width: calc(66.666% - 14px);
                height: 0;
                float: left;
                color: #474748;
                flex-wrap: normal; //SHould the text be wrapped here?
                -ms-flex-wrap: normal;
                /*  */
                padding-bottom: calc(66.666% - 14px);
                overflow: hidden;
                object-fit: contain;
                font-family: 'object-fit: contain';
                position: relative;
                background-color: #ececec;
                hr {
                    background: #717171;
                    border-bottom: 1px solid #313030;
                }
                .video-wrapper {
                    height: 54%;
                    position: absolute;
                    width: 100%;
                    background-color: red;
                    video {
                        width: 100%;
                        height: 100%;
                        background-color: #0278be;
                        position: absolute;
                        left: 0;
                        right: 0;
                    }
                }
                .text-wrapper {
                    position: absolute;
                    height: calc(48% - 7px);
                    /*   padding: 365px 50px 0; */
                    margin-top: calc(54% + 40px);
                    margin-left: 50px;
                    width: calc(100% - 40px);
                    margin-bottom: 40px;
                    margin-right: 50px;
                }
                h2 {
                    color: #2b72b5;
                    padding-top: 12px;
                    /*CHECK THE HEIGHT OS THE H2 , 2 LINES ALLOWED*/
                }
                p {
                    height: 50px;
                    width: 451px;
                    overflow: hidden;
                    color: #474748;
                    margin-bottom: 8px;
                }
                a {
                    position: absolute;
                    text-transform: uppercase;
                    color: #478ab8;
                    top: 218px;
                }
            }
        }
    }
}

#Ebene_1 {
    width: 5px;
}