.triple-slider-wrapper {
  max-width: 1200px;
  margin: 80px auto 0;
  overflow: hidden;
  max-height: 100%;
  h2 {
    text-align: center;
    margin-bottom: 30px;
    @media (max-width: 768px) {
      margin-bottom: 15px;
    }
  }
  h5 {
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }
  .slider-nav {
    width: 100%;
    height: 680px;
    margin-bottom: 50px;
    float: left;
    @media (max-width: 768px) {
      height: 100%;
      margin-bottom: 15px;
    }
    .slick-arrow {
      display: none!important;
    }
    .slick-list {
      overflow: visible;
      .slick-track {
        .slick-slide {
          .triple-nav {
            height: 370px;
            overflow: visible;
            text-align: center;
            .paket-title-wrapper {
              text-align: center;
              height: 60px;
              .paket-title-team {
                padding-left: 0%;
                -webkit-transition: .7s ease-in-out;
                -moz-transition: .7s ease-in-out;
                -o-transition: .7s ease-in-out;
                transition: .7s ease-in-out;
              }
              .paket-title-blue {
                font-family: 'DemosRegular';
                font-size: 23px;
                line-height: 30px;
                letter-spacing: 0.06em;
                color: $font-color-teritary;
                // text-transform: uppercase;
              }
              .paket-title-black {
                padding-left: 10px;
                font-family: 'OpenSans-semibold';
                font-size: 21px;
                line-height: 30px;
                letter-spacing: 0.06em;
                color: $font-color-quinary;
                text-transform: uppercase;
              }
              @media (max-width: 768px) {
                .paket-title-blue {
                  font-size: 16px;
                  line-height: 20px;
                }
                .paket-title-black {
                  font-size: 16px;
                  padding-left: 0;
                  line-height: 20px;
                }
              }
            }
            .triple-nav-img {
              height: 100%;
              width: 100%;
              background-size: contain;
              background-repeat: no-repeat;
              background-position: 0 50px;
              -webkit-transition: .7s ease-in-out;
              -moz-transition: .7s ease-in-out;
              -o-transition: .7s ease-in-out;
              transition: .7s ease-in-out;
              transform:scale(0.80);
              margin-left: 10%;
              @media (max-width: 768px) {
                height: 30vh;
              }
            }
            .paket-bottom-wrapper {
              .paket-teams-text {
                min-height: 58px;
                @media (max-width: 768px) {
                  line-height: 22px;
                  min-height: 95px!important;
                }
              }
              .paket-from {
                font-family: 'DemosRegular';
                font-size: 40px;
                line-height: 110px;
                letter-spacing: 0.02em;
                color: $font-color-teritary;
                display: inline-block;
                margin-top: 20px;
                margin-right: 5px;
                @media (max-width: 768px) {
                  font-size: 10px;
                  line-height: 50px;
                }
              }
              .paket-teams-blue {
                font-family: 'DemosRegular';
                font-size: 90px;
                line-height: 90px;
                letter-spacing: 0.02em;
                color: $font-color-teritary;
                display: inline-block;
                // margin-top: 20px;
                @media (max-width: 768px) {
                  font-size: 45px;
                  line-height: 50px;
                }
              }
              .team-conference {
                padding-left: 67px;
                @media (max-width: 768px) {
                  padding-left: 10px;
                }
              }
              .paket-teams-black {
                font-family: 'OpenSans-semibold';
                font-size: 16px;
                line-height: 16px;
                letter-spacing: 0.06em;
                color: $font-color-quinary;
                display: block;
                text-transform: uppercase;
              }
              .teams-link {
                margin-top: 15px;
                margin-bottom: 15px;
                color: $font-color-secondary;
                font-family: 'OpenSans-semibold';
                font-size: 12px;
                line-height: 30px;
                letter-spacing: .045em;
                text-transform: uppercase;
                display: inline-block;
                background-image: url(../images/bg.png);
                border-radius: 25px;
                padding: 5px 60px;
                text-decoration: none;
                cursor: pointer;
                @media (max-width: 768px) {
                  padding: 3px 10px;
                }
              }
              .teams-excerpt {
                display: block;
                position: relative;
                text-decoration: none;
                font-family: 'OpenSans-semibold';
                font-size: 14px;
                line-height: 29px;
                letter-spacing: 0.045em;
                color: $font-color-teritary;
                pointer-events: none;
                @media (max-width: 768px) {
                  font-size: 12px;
                  line-height: 16px;
                }
              }
            }
          }
        }

        .slick-current {
          .triple-nav {
            .triple-nav-img {
              transform:scale(1.20)!important;
              margin-left: 15%;
            }
          }
        }
      }
    }
  }

  .slider-for {
    width: 100%;
    margin-bottom: 50px;
    float: right;
    padding: 0 15px;
    .triple-slide {
      position: relative;
      margin-top: 30px;
      .toggle-first-product:before {
        content:"";
        left: 14%!important;
      }
      .toggle-second-product:before {
        content:"";
        left: 48%!important;
      }
      .toggle-third-product:before {
        content:"";
        left: 83%!important;
      }
      .info-area:before {
        content:"";
        background-image: url("../images/seperator2.jpg");
        position: absolute;
        top: -34px;
        left: 200%;
        width: 39px;
        height: 37px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      .info-area {
        position: relative;
        width: 100%;
        max-width: 1200px;
        border-top: 1px solid $border-color-primary;
        border-right: 1px solid $border-color-primary;
        border-bottom: 1px solid $border-color-primary;
        border-left: 1px solid $border-color-primary;
        text-align: center;
        margin-top: 70px;
        padding-top: 70px;
        padding-bottom: 50px;
        @media (max-width: 768px) {
          padding-top: 30px;
        }
        .paket-box-title-wrapper {
          display: block;
          margin: 0 auto;
          .paket-title-blue {
            font-family: 'DemosRegular';
            font-size: 46px;
            line-height: 45px;
            letter-spacing: 0.02em;
            color: $font-color-teritary;
            margin-right: 10px;
          }
          .paket-title-black {
            font-family: 'OpenSans-semibold';
            font-size: 44px;
            line-height: 45px;
            letter-spacing: 0.02em;
            color: $font-color-teritary;
          }
        }
        .first-text {
          width: 70%;
          margin: 50px 0;
          display: inline-block;
          // text-transform: uppercase;
          @media (max-width: 768px) {
            margin: 30px 0;
          }
        }
        .image {
          display: inline-block;
          height: 25vh;
          max-width: 50vw;
          width: 100%;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          @media (max-width: 768px) {
            max-width: 80vw;
          }
        }
        .second-text {
          width: 70%;
          margin-top: 50px;
          display: inline-block;
          @media (max-width: 768px) {
            margin: 30px 0;
          }
        }
        .paket-box-slider-title {
          display: block;
          font-family: 'DemosRegular';
          font-size: 46px;
          line-height: 45px;
          letter-spacing: 0.02em;
          color: $font-color-teritary;
          margin-top: 50px;
          margin-bottom: 30px;
        }
        .paket-box-slider {
          display: inline-block;
          width: 50%;
          margin-top: 30px;
          @media (max-width: 768px) {
            width: 85%;
            margin-top: 15px;
          }
          .slick-arrow {
            position: absolute;
            z-index: 100;
            top: calc(20vh - 45px);
            border: 0;
            background-color: inherit;
            background-size: 90px 50px;
            margin-bottom: 0;
            width: 50px;
            height: 90px;
            background-repeat: no-repeat;
            background-position: 50%;
            display: inline-block;
            line-height: 0;
            font-size: 0;
            color: transparent;
            cursor: pointer;
          }
          .slick-next {
            right: -10%;
            background-image: url("../images/r-slider.svg");
          }
          .slick-prev {
            left: -10%;
            background-image: url("../images/r-slider.svg");
            transform: rotate(180deg);
          }
          .paket-box-slide-image {
            display: inline-block;
            height: 40vh;
            max-width: 50vw;
            width: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            @media (max-width: 768px) {
              max-width: 80vw;
            }
          }
          .paket-box-slide-text {
            margin-top: 50px;
          }
        }
        .paket-box-list-title {
          margin-top: 50px;
          margin-bottom: 30px;
          display: block;
          font-family: 'DemosRegular';
          font-size: 46px;
          line-height: 45px;
          letter-spacing: 0.02em;
          color: $font-color-teritary;
          @media (max-width: 768px) {
            margin-top: 30px;
            margin-bottom: 15px;
          }
        }
        .paket-box-list-wrapper {
          width: 50%;
          display: inline-block;
          @media (max-width: 768px) {
            width: 75%;
          }
          .paket-box-list-li {
            text-align: left;
            line-height: 22px;
            margin-bottom: 10px;
            position: relative;
            @media (max-width: 768px) {
              text-align: left!important;
            }
          }
          .paket-box-list-li:before {
            content:"";
            background-image: url("../images/li-dot.svg");
            position: absolute;
            top: 6px;
            left: -25px;
            width: 9px;
            height: 9px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
  }
}
