.two-sliders-wrapper {
  margin-bottom: 30px;
  @media (max-width: 768px) {
    margin-bottom: 30px;
  }
  .detail-slider-headline {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .filter-wrapper {
    text-align: center;
    .filter-front-end {
      margin-right: 10px;
      color: $font-color-secondary;
      font-family: 'OpenSans-semibold';
      font-size: 12px;
      line-height: 25px;
      letter-spacing: .045em;
      text-transform: uppercase;
      display: inline-block;
      background-image: url(../images/bg.png);
      border-radius: 25px;
      padding: 5px 30px;
      text-decoration: none;
      margin-bottom: 10px;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
    }
    .filter-back-end {
      margin-left: 10px;
      color: $font-color-quinary;
      font-family: 'OpenSans-semibold';
      font-size: 12px;
      line-height: 25px;
      letter-spacing: .045em;
      text-transform: uppercase;
      display: inline-block;
      background: #e6e6e6;
      border-radius: 25px;
      padding: 5px 30px;
      text-decoration: none;
      margin-bottom: 10px;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
    }
    .button-active {
      background-image: url(../images/bg.png);
      color: $font-color-secondary;
    }
    .button-inactive {
      color: $font-color-quinary;
      background: #e6e6e6;
    }
  }
  .two-sliders {
    max-width: calc(1200px - 10%);
    margin-left: auto;
    margin-right: auto;
    .slick-arrow {
      position: absolute;
      z-index: 100;
      top: 230px;
      border: 0;
      background-color: inherit;
      background-size: 90px 50px;
      margin-bottom: 0;
      width: 50px;
      height: 90px;
      background-repeat: no-repeat;
      background-position: 50%;
      display: inline-block;
      line-height: 0;
      font-size: 0;
      color: transparent;
      cursor: pointer;
      @media (max-width: 768px) {
        top: calc(15vh + 5px);
      }
    }
    .slick-next {
      right: 0;
      background-image: url("../images/r-slider.svg");
      @media (max-width: 768px) {
        right: 5%;
      }
    }
    .slick-prev {
      left: 0;
      background-image: url("../images/r-slider.svg");
      transform: rotate(180deg);
      @media (max-width: 768px) {
       left: 5%;
      }
    }
    .slide {
      height: 100%;
      margin-top: 50px;
      .two-sliders-img {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top;
        height: 450px;
        width: 100%;
        margin-bottom: 50px;
        @media (max-width: 768px) {
          height: 30vh;
          margin-bottom: 5px;
        }
      }
      h3 {
        margin-top: 50px;
        text-align: center;
      }
      p {
        text-align: center;
        max-width: 560px;
        margin: 0 auto;
      }
    }
  }
}
