

p.privacy {
  display: block;
  width: 350px;
  padding-top: 5px;
}

p.privacy label {
	display: flex;
	font-size: 13px;
	text-transform: none;
  line-height: 22px;
}

p.privacy label a {
	font-size: 13px;
	padding: 0;
	background: none;
	text-decoration: underline;
	letter-spacing: 1px;
}

p.privacy label span:nth-child(2) {
  padding: 3px 0 0 10px;
  text-align: left;
  color: #fff;
  a {
    color: #fff;
  }
}
.ga-optout {
  cursor: pointer;
  color: $font-color-teritary !important;
  &:hover {
    text-decoration: underline !important;
  }
}
