body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
.wrap {
  padding-left: 120px!important;
  width: 100%!important;
  overflow: hidden!important;
  @media (max-width: 768px) {
    padding-left: 0!important;
  }
}

@media (min-width: 576px) {
  .main {
      -webkit-box-flex: 0!important;
      -ms-flex: 0 0 100%!important;
      flex: 0 0 100%!important;
      max-width: 100%!important;
  }
}
