button:focus {
    outline: 0;
}

@font-face {
    font-family: 'DemosRegular';
    src: url('../fonts/demos-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DemosItalic';
    src: url('../fonts/demos-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-semibold';
    src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-regular';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-italic';
    src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
}

h2 {
    font-family: 'DemosRegular';
    font-size: 45px;
    line-height: 62px;
    letter-spacing: 0.02em;
    color: $font-color-teritary;
    @media (max-width: 767px) {
        font-size: 30px;
        line-height: 35px;
        margin-top: 30px;
    }
}

h3 {
    font-family: 'DemosRegular';
    font-size: 31px;
    line-height: 38px;
    letter-spacing: 0.06em;
    color: $font-color-teritary;
}

h4 {}

h5 {
    font-family: 'OpenSans-semibold';
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.06em;
    margin-bottom: 15px;
    color: $font-color-quinary;
    @media (max-width: 767px) {
        text-align: center!important;
    }
}

h6 {
    font-family: 'DemosItalic';
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.045em;
}

p {
    font-family: 'OpenSans-regular';
    font-size: 14px;
    line-height: 29px;
    letter-spacing: 0.045em;
    margin-bottom: 0;
    color: $font-color-quinary;
    @media (max-width: 767px) {
        text-align: left;
    }
}

.testimonial-zitat {
    font-family: 'DemosItalic';
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.045em;
    color: $font-color-senary;
    @media (max-width: 768px) {
        display: block;
        margin: 35px auto 0;
    }
}

.testimonial-name {
    font-family: 'OpenSans-semibold';
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.06em;
    margin-top: 25px;
    margin-bottom: 10px!important;
    color: $font-color-quinary;
    text-transform: uppercase;
    position: relative;
    display: block;
    @media (max-width: 768px) {
        margin-top: 0;
    }
}

.testimonial-name:before {
    content: "";
    background-image: url("../images/testimonial-name-line.svg");
    position: absolute;
    top: -15px;
    left: -2px;
    width: 45px;
    height: 1px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: 768px) {
        display: none;
    }
}

.testimonial-title {
    font-family: 'OpenSans-italic';
    font-size: 12px;
    line-height: 8px;
    letter-spacing: 0.06em;
    margin-bottom: 0;
    color: $font-color-quinary;
    text-transform: uppercase;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}