// helper: primary secondary tertiary quaternary quinary senary septenary octonary nonary denary
// Grid settings
$main-sm-columns:         12;
$sidebar-sm-columns:      4;

// Colors
$brand-primary:           #27ae60;

// Background colors
$background-primary:      #ffffff;
$background-secondary:    #2d78bf;
$background-tertiary:     #f2f2f2;
$background-quaternary:   #f7f7f7;


// Font colors
$font-color-primary:      #000000;
$font-color-secondary:    #ffffff;
$font-color-teritary:     #0278be;
$font-color-quaterinary:  #757575;
$font-color-quinary:      #474748;
$font-color-senary:       #0165a0;

//Border colors
$border-color-primary:    #757575;
