body.login {
  background-image: url('https://culturizer.de/wp-content/uploads/2017/12/MG_1037.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.login h1 a {
  background-image: url('https://culturizer.de/wp-content/uploads/2017/12/Logo_Platzhalter.png');
}

#wpwrap {
  background: red;
}

#wpwrap {
  background: red!important;
}
