a {
  color: $font-color-teritary;
}
.scroll-to-top {
  width: 50px;
  height: 55px;
  background-image: url("../images/bg.png");
  bottom: 20px;
  right: 20px;
  position: fixed;
  display: none;
  text-align: center;
  color: $font-color-secondary;
  font-family: 'OpenSans-semibold';
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  padding: 25px 5px 5px;
  text-decoration: none;
  .arrow {
    background-image: url("../images/r-slider-white.svg");
    background-size: 20px 20px;
    margin-bottom: 0;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    top: 3px;
    left: 15px;
    transform: rotate(-90deg);
  }
}
.scroll-to-top:hover {
  color: $font-color-secondary;
  text-decoration: none;
}
