.vc_row-fluid {
  max-width: 1200px;
  margin: 100px auto 0;
  @media (max-width: 767px) {
    margin: 30px auto 0;
  }
}
.wpb_text_column {
  margin-bottom: 0;
}
.vc_inner {
  margin-top: 15px;
}

@media (max-width: 767px) {
  .vc_align_right, .vc_align_left {
    text-align: center!important;
  }
}

.vertical-parallax-image {
  position: relative!important;
}

.animated {
  animation-duration: 3s!important;
}
